#vjs-logobrand-image,
#vjs-logobrand-image-autoHide {
	transition: visibility 0.1s ease 0s, opacity 0.1s ease 0s;
	visibility: hidden;
}

.vjs-has-started #vjs-logobrand-image,
.vjs-has-started #vjs-logobrand-image-autoHide {
	visibility: visible;
}
.vjs-user-inactive #vjs-logobrand-image {
	visibility: visible;
}
.vjs-user-inactive #vjs-logobrand-image-autoHide {
	visibility: hidden;
}
.vjs-user-inactive.vjs-paused #vjs-logobrand-image,
.vjs-user-inactive.vjs-paused #vjs-logobrand-image-autoHide {
	visibility: visible;
}
.vjs-ad-playing #vjs-logobrand-image-destination {
	display: none;
}